<mat-expansion-panel [expanded]="expanded" (afterExpand)="opened.emit({})">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Providers
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-checkbox *ngFor="let p of providers" [value]="p.id" [(ngModel)]="p.selected"
                (change)="changed.emit({})">{{p.label}}</mat-checkbox>

  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
