<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit({})" [disabled]="disabled">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Escher
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="full-width">
    <input matInput placeholder="Credential scope" [(ngModel)]="credentialScope" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Auth header name" [(ngModel)]="authHeaderName" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Date header name" [(ngModel)]="dateHeaderName" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Algo prefix" value="ESR" [(ngModel)]="algoPrefix" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Vendor key" value="Escher" [(ngModel)]="vendorKey" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Hostname" value="" [(ngModel)]="hostname" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Port" value="" [(ngModel)]="port" (change)="this.changed.emit({})">
  </mat-form-field>

  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
