<mat-form-field style="width: 25%">
  <mat-label>{{label}} from...</mat-label>
  <mat-select [(ngModel)]="secretFrom" (selectionChange)="change()" [disabled]="disabled">
    <mat-option [value]="'file'">File</mat-option>
    <mat-option [value]="'config'">Config</mat-option>
    <mat-option [value]="'env'">Environment variable</mat-option>
  </mat-select>
</mat-form-field>
&nbsp;
<mat-form-field *ngIf="secretFrom === 'file'" style="width: 70%">
  <input matInput placeholder="File path" [(ngModel)]="secretPath" (change)="change()" [disabled]="disabled">
</mat-form-field>
<mat-form-field *ngIf="secretFrom === 'config'" style="width: 70%">
  <input matInput placeholder="Secret" value="" [(ngModel)]="secretValue" (change)="change()" [disabled]="disabled">
</mat-form-field>
<mat-form-field *ngIf="secretFrom === 'env'" style="width: 70%">
  <input matInput placeholder="Variable name" value="" [(ngModel)]="envName" (change)="change()" [disabled]="disabled">
</mat-form-field>
