<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit({})">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Callback
    </mat-panel-title>
    <mat-panel-description>
      (for login flow)
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field class="full-width">
    <input matInput placeholder="Success"
           value="https://lvh.me:9443/index.html?token=<<TOKEN>>&refresh_token=<<REFRESH_TOKEN>>">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Failure" value="https://lvh.me:9443/index.html?error=<<ERROR>>">
  </mat-form-field>


  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
