<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit({})">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Callback
    </mat-panel-title>
    <mat-panel-description>
      (for login flow)
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field class="full-width">
    <input matInput placeholder="Success" [(ngModel)]="success" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Failure" [(ngModel)]="failure" (change)="this.changed.emit({})">
  </mat-form-field>


  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
