<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit({})" [disabled]="disabled">
  <mat-expansion-panel-header>
    <mat-panel-title>
      LDAP Api&nbsp;<i *ngIf="!enabled">(disabled)</i>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-checkbox [(ngModel)]="enabled" (change)="this.changed.emit({})">Enabled</mat-checkbox>

  <mat-form-field class="full-width">
    <mat-label>Authentication</mat-label>
    <mat-select [(ngModel)]="authType" [disabled]="!enabled" (selectionChange)="this.changed.emit({})">
      <mat-option [value]="'basic'">Basic (User-Pass)</mat-option>
      <mat-option [value]="'escher'">Escher</mat-option>
      <mat-option [value]="'jwt'">JWT</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="authType === 'basic'" class="full-width">
    <input matInput placeholder="Username" [(ngModel)]="basic.username" [disabled]="!enabled" (change)="this.changed.emit({})">
  </mat-form-field>
  <app-secret *ngIf="authType === 'basic'" [label]="'Password'" [disabled]="!enabled" [(value)]="basic.password" class="full-width"></app-secret>

  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
