<div class="container">
  <mat-accordion>
    <app-providers
      [expanded]="step === 0"
      (nextStep)="nextStep()"
      (opened)="setStep(0)"
      (selectedProviders)="selectedProviders = $event"></app-providers>
    <app-password-difficulty-checker
      [expanded]="step === 1"
      (nextStep)="nextStep()"
      (opened)="setStep(1)"
      [selectedProviders]="selectedProviders"
      (disabled)="modulesDisabledState[1] = $event"
    ></app-password-difficulty-checker>
    <app-email
      [expanded]="step === 2"
      (nextStep)="nextStep()"
      (opened)="setStep(2)"
      [selectedProviders]="selectedProviders"
      (disabled)="modulesDisabledState[2] = $event"
      (value)="emailServiceValue = $event"
    ></app-email>
  </mat-accordion>
</div>
