<div class="container">
  <mat-accordion>
    <app-hello
      #hello
      [expanded]="step === hello"
      (nextStep)="nextStep()"
      (opened)="setStep(hello)"
    ></app-hello>
    <app-providers
      #providers
      [expanded]="step === providers"
      (nextStep)="nextStep()"
      (opened)="setStep(providers)"
      (changed)="refresh()"></app-providers>
    <app-password-difficulty-checker
      #passwordDifficultyChecker
      [expanded]="step === passwordDifficultyChecker"
      (nextStep)="nextStep()"
      (opened)="setStep(passwordDifficultyChecker)"
      (changed)="refresh()"
    ></app-password-difficulty-checker>
    <app-email
      #email
      [expanded]="step === email"
      (nextStep)="nextStep()"
      (opened)="setStep(email)"
      (changed)="refresh()"
    ></app-email>
    <app-jwt
      #emailProviderJwt
      name="Email Provider"
      desc="(for Email-Pass)"
      [(value)]="model.jwt.email"
      [expanded]="step === emailProviderJwt"
      (nextStep)="nextStep()"
      (opened)="setStep(emailProviderJwt)"
      (valueChange)="refresh()"
    ></app-jwt>
    <app-amqp
      #amqp
      [expanded]="step === amqp"
      (nextStep)="nextStep()"
      (opened)="setStep(amqp)"
      (changed)="refresh()"
    ></app-amqp>
    <app-ldap
      #ldap
      [expanded]="step === ldap"
      (nextStep)="nextStep()"
      (opened)="setStep(ldap)"
      (changed)="refresh()"
    ></app-ldap>
    <app-ldap-api
      #ldapApi
      [expanded]="step === ldapApi"
      (nextStep)="nextStep()"
      (opened)="setStep(ldapApi)"
      (changed)="refresh()"
    ></app-ldap-api>
    <app-jwt
      #ldapApiJwt
      name="LDAP Api"
      desc="(for LDAP api)"
      [(value)]="model.jwt.ldapApi"
      [expanded]="step === ldapApiJwt"
      (nextStep)="nextStep()"
      (opened)="setStep(ldapApiJwt)"
      (valueChange)="refresh()"
    ></app-jwt>
    <app-escher-service
      #ldapApiEscher
      name="LDAP Api"
      desc="(for LDAP api)"
      [expanded]="step === ldapApiEscher"
      (nextStep)="nextStep()"
      (opened)="setStep(ldapApiEscher)"
      (changed)="refresh()"
    ></app-escher-service>
    <app-oauth2
      #oauth2
      [expanded]="step === oauth2"
      (nextStep)="nextStep()"
      (opened)="setStep(oauth2)"
      (changed)="refresh()"
    ></app-oauth2>
    <app-oauth2-provider
      #oauth2github
      [name]="'GitHub'"
      [defaultScopes]="'read:user,gist'"
      [expanded]="step === oauth2github"
      (nextStep)="nextStep()"
      (opened)="setStep(oauth2github)"
      (changed)="refresh()"
    ></app-oauth2-provider>
    <app-oauth2-provider
      #oauth2facebook
      [name]="'Facebook'"
      [defaultScopes]="'public_profile'"
      [expanded]="step === oauth2facebook"
      (nextStep)="nextStep()"
      (opened)="setStep(oauth2facebook)"
      (changed)="refresh()"
    ></app-oauth2-provider>
    <app-oauth2-provider
      #oauth2google
      [name]="'Google'"
      [defaultScopes]="'openid,email,profile'"
      [expanded]="step === oauth2google"
      (nextStep)="nextStep()"
      (opened)="setStep(oauth2google)"
      (changed)="refresh()"
    ></app-oauth2-provider>
    <app-totp
      #totp
      [expanded]="step === totp"
      (nextStep)="nextStep()"
      (opened)="setStep(totp)"
      (changed)="refresh()"
    ></app-totp>
    <app-jwt
      #totpProviderJwt
      name="TOTP Provider"
      desc="(for TOTP)"
      [(value)]="model.jwt.totp"
      [expanded]="step === totpProviderJwt"
      (nextStep)="nextStep()"
      (opened)="setStep(totpProviderJwt)"
      (valueChange)="refresh()"
    ></app-jwt>
    <app-database
      #database
      [expanded]="step === database"
      (nextStep)="nextStep()"
      (opened)="setStep(database)"
      (changed)="refresh()"
    ></app-database>
    <app-callback
      #callback
      [expanded]="step === callback"
      (nextStep)="nextStep()"
      (opened)="setStep(callback)"
      (changed)="refresh()"
    ></app-callback>
    <app-hook
      #hook
      [expanded]="step === hook"
      (nextStep)="nextStep()"
      (opened)="setStep(hook)"
      (changed)="refresh()"
    ></app-hook>
    <app-jwt
      #hookJwt
      name="HOOK"
      desc="(hook service auth)"
      [expanded]="step === hookJwt"
      (nextStep)="nextStep()"
      (opened)="setStep(hookJwt)"
      [(value)]="model.jwt.hook"
      (valueChange)="refresh()"
    ></app-jwt>
    <app-escher-service
      #hookEscher
      name="HOOK"
      desc="(hook service auth)"
      [expanded]="step === hookEscher"
      (nextStep)="nextStep()"
      (opened)="setStep(hookEscher)"
      (changed)="refresh()"
    ></app-escher-service>
    <app-escher
      #escher
      [expanded]="step === escher"
      (nextStep)="nextStep()"
      (opened)="setStep(escher)"
      (changed)="refresh()"
    ></app-escher>
    <app-healthcheck
      #healthcheck
      [expanded]="step === healthcheck"
      (nextStep)="nextStep()"
      (opened)="setStep(healthcheck)"
      (changed)="refresh()"
    ></app-healthcheck>
    <app-jwt
      #shortTermJwt
      name="ShortTerm"
      desc="(auth token)"
      [(value)]="model.jwt.shortTerm"
      [expanded]="step === shortTermJwt"
      (nextStep)="nextStep()"
      (opened)="setStep(shortTermJwt)"
      (valueChange)="refresh()"
    ></app-jwt>
    <app-jwt
      #longTermJwt
      name="LongTerm"
      desc="(refresh token)"
      [(value)]="model.jwt.longTerm"
      [expanded]="step === longTermJwt"
      (nextStep)="nextStep()"
      (opened)="setStep(longTermJwt)"
      (valueChange)="refresh()"
    ></app-jwt>
    <app-config-result
      #result
      [expanded]="step === result"
      (opened)="setStep(result)"
    ></app-config-result>
  </mat-accordion>
</div>
