<mat-expansion-panel [expanded]="expanded" (afterExpand)="opened.emit({})" [disabled]="disabled">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{name}}
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="full-width">
    <input matInput placeholder="Client ID" [(ngModel)]="clientId" (change)="this.changed.emit({})">
  </mat-form-field>
  <app-secret [label]="'Client secret'" [(value)]="clientSecret" (change)="this.changed.emit({})"></app-secret>
  <mat-form-field class="full-width">
    <input matInput placeholder="Scope" [(ngModel)]="scopes" (change)="this.changed.emit({})">
  </mat-form-field>

  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
