<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit({})" [disabled]="_disabled">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Password difficulty checker
    </mat-panel-title>
    <mat-panel-description>
      (for Basic & Email-Pass)
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field class="full-width">
    <input matInput placeholder="Regex pattern" value="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).{8,}$">
  </mat-form-field>


  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
