<mat-expansion-panel [expanded]="expanded" (afterExpand)="opened.emit({})" [disabled]="disabled">
  <mat-expansion-panel-header>
    <mat-panel-title>
      LDAP / AD
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="full-width">
    <input matInput placeholder="URL" [(ngModel)]="url" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Readonly User" [(ngModel)]="user" (change)="this.changed.emit({})">
  </mat-form-field>
  <app-secret [label]="'Readonly User password'" [(value)]="password"
              (valueChange)="this.changed.emit({})"></app-secret>
  <mat-form-field class="full-width">
    <input matInput placeholder="User search base domain" [(ngModel)]="baseDomain" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="User search attribute" [(ngModel)]="searchAttribute" (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="User return single type attributes" [(ngModel)]="singleReturnAttribute"
           (change)="this.changed.emit({})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="User return array type attributes" [(ngModel)]="multipleReturnAttribute"
           (change)="this.changed.emit({})">
  </mat-form-field>

  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
