<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit({})">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Database
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-form-field class="full-width">
    <mat-label>Type</mat-label>
    <mat-select [(ngModel)]="databaseType">
      <mat-option [value]="'memory'">InMemory (only for testing)</mat-option>
      <mat-option [value]="'postgres'">PostgreSQL</mat-option>
      <mat-option [value]="'mongo'">MongoDB</mat-option>
    </mat-select>
  </mat-form-field>

  <app-database-postgres [(value)]="postgresValue" *ngIf="databaseType === 'postgres'"></app-database-postgres>
  <app-database-mongodb [(value)]="mongoValue" *ngIf="databaseType === 'mongo'"></app-database-mongodb>

  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
