<mat-expansion-panel [expanded]="expanded" (opened)="opened.emit({})">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Hook service &nbsp;<i *ngIf="!enabled">(disabled)</i>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-checkbox *ngFor="let h of hooks" [value]="h.id" [(ngModel)]="h.selected"
                (change)="enabledHooksChanged()">{{h.label}}</mat-checkbox>

  <mat-form-field class="full-width">
    <input [disabled]="!enabled" matInput placeholder="Base url" [(ngModel)]="baseUrl">
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Authentication</mat-label>
    <mat-select [(ngModel)]="authType" [disabled]="!enabled" (selectionChange)="this.changed.emit({})">
      <mat-option [value]="'basic'">Basic (User-Pass)</mat-option>
      <mat-option [value]="'escher'">Escher</mat-option>
      <mat-option [value]="'jwt'">JWT</mat-option>
    </mat-select>
  </mat-form-field>

  <app-hook-basic [(value)]="basicData" *ngIf="authType === 'basic'" (valueChange)="this.changed.emit({})"
                  [disabled]="!enabled"></app-hook-basic>
  <app-hook-escher [(value)]="escherData" *ngIf="authType === 'escher'" (valueChange)="this.changed.emit({})"
                   [disabled]="!enabled"></app-hook-escher>

  <mat-action-row>
    <button mat-button color="primary" (click)="nextStep.emit({})">Next</button>
  </mat-action-row>
</mat-expansion-panel>
